<div class="contenedor">
  <div class="card text-center cardContainer">
    <div class="card-header">CHAT</div>

    <div class="card-body">
      <div id="contenedorDeMensajes" class="contenedorDeMensajes h-100">
        <p
          *ngFor="let mensaje of mensajes"
          class="msj p-2"
          [ngClass]="usuarioLogueado == mensaje.emisor ? 'enviado' : 'recibido'"
        >
          {{ mensaje.msj }}
        </p>
      </div>
    </div>

    <form
      class="card-footer text-muted input-group"
      (ngSubmit)="enviarMensaje()"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese su mensaje"
        [(ngModel)]="nuevoMensaje"
        [ngModelOptions]="{ standalone: true }"
      />
      <div class="input-group-append" (click)="enviarMensaje()">
        <span class="input-group-text" id="basic-addon2">
          <img
            class="imgEnviar"
            src="https://cdn-icons-png.flaticon.com/512/786/786407.png"
            width="20px"
            alt="send message"
          />
        </span>
      </div>
    </form>
  </div>
</div>
