<div class="contenedor">
  <div class="card text-center cardContainer">
    <!-- <div class="card-header">CHAT</div> -->
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>CHAT</span>
      <button
        class="btn btn-danger btn-sm"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        X
      </button>
    </div>

    <div class="card-body">
      <div id="contenedorDeMensajes" class="contenedorDeMensajes h-100">
        <div
          *ngFor="let mensaje of mensajes"
          class="mensaje p-2"
          [ngClass]="
            usuarioLogueado.uid == mensaje.emisor ? 'enviado' : 'recibido'
          "
        >
          <div class="emisor">Emisor: {{ mensaje.email }}</div>

          <div class="contenido-mensaje">
            {{ mensaje.msj }}
          </div>
        </div>
      </div>
    </div>

    <form
      class="card-footer text-muted input-group"
      (ngSubmit)="enviarMensaje()"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese su mensaje"
        [(ngModel)]="nuevoMensaje"
        [ngModelOptions]="{ standalone: true }"
      />
      <div class="input-group-append" (click)="enviarMensaje()">
        <span class="input-group-text" id="basic-addon2">
          <img
            class="imgEnviar"
            src="https://cdn-icons-png.flaticon.com/512/786/786407.png"
            width="20px"
            alt="send message"
          />
        </span>
      </div>
    </form>
  </div>
</div>
