<!-- <img src="" alt="" />

<h1>Thomas Aguilar Arguello</h1>
<br />
<h2>Mi informacion</h2>
<ul>
  <li>Mail: tomasaguilar156&#64;gmail.com</li>
  <li>Edad: 21 anios</li>
  <li>Nacionalidad: Argentina</li>
</ul>

<p>Voy a hacer el juego de la viborita</p>
<p>Como se juega:</p>
<ul>
  <li>La viborita avanzara en todo momento</li>
  <li>El usuario debera de controlar la direccion en la que se movera</li>
  <li>Debe de ir agarrando las frutas para asi ir creciendo cada vez mas</li>
  <li>
    Si logra crecer lo suficiente para ocupar toda la pantalla, ganara
    automaticamente
  </li>
  <li>Pierde si se choca con la pared o si se golpea a si mismo</li>
</ul>

<button routerLink="/home">Volver</button> -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información de Thomas</title>
  </head>
  <body>
    <img src="" alt="Imagen de perfil" width="150" height="150" />
    <h1>Thomas Aguilar Arguello</h1>
    <h2>Mi información</h2>

    <ul>
      <li>Mail: tomasaguilar156&#64;gmail.com</li>
      <li>Edad: 21 años</li>
      <li>Nacionalidad: Argentina</li>
    </ul>

    <p>Voy a hacer el juego de la viborita</p>
    <p>Cómo se juega:</p>
    <ul>
      <li>La viborita avanzará en todo momento</li>
      <li>El usuario deberá controlar la dirección en la que se moverá</li>
      <li>Debe agarrar las frutas para crecer</li>
      <li>Si crece lo suficiente para ocupar toda la pantalla, gana</li>
      <li>Pierde si choca con la pared o consigo mismo, entonces pierde</li>
    </ul>

    <button routerLink="/home">Volver</button>
  </body>
</html>
