<header *ngIf="isLoggedIn()">
  <div class="header-container">
    <div class="top-buttons">
      <button routerLink="/ahorcado">Ahorcado</button>
      <button routerLink="/mayormenor">Mayor o Menor</button>
      <button routerLink="/preguntados">Preguntados</button>
      <button routerLink="/juegopropio">Juego propio</button>
    </div>
    <div class="usuario-logeado" *ngIf="user">
      <p>Bienvenido, {{ user.name ? user.name : user.email }}!</p>
    </div>
  </div>
</header>

<div class="button-container">
  <!-- <div *ngIf="!isLoggedIn()">
    <button routerLink="/login">Login</button>
    &nbsp;<br /><br />
    <button routerLink="/registro">Register</button>
  </div>
  <br /> -->

  <div class="container" *ngIf="isLoggedIn()">
    <button class="restart-button" (click)="reiniciarJuego()">RESTART</button>
    <!-- <h1 class="nombre-juego">Juego SNAKE</h1>
    <p></p> -->

    <div class="container2" style="background-color: #282846">
      <div class="score-card">
        <div class="score-board">
          <div class="container2">
            <h1>Score</h1>
            <h3>{{ comida.puntajeActual }}</h3>
          </div>
        </div>
      </div>
      <div class="game-over" *ngIf="gameOver">
        <h1>Game Over</h1>
      </div>

      <div class="tableroJuego"></div>
    </div>
  </div>

  <div id="logOut" *ngIf="isLoggedIn()" class="horizontal-buttons-container">
    <button routerLink="/quiensoy">Quien soy</button>
    <br />
    <button class="button-logOut" (click)="onClick()">Cerrar sesion</button>
    <br />
    <button (click)="moveToChat()">Chat</button>
  </div>
</div>
