:root {
  --primary-color: #4caf50;
  --secondary-color: #d8ebe4;
  --background-color: #282846;
  --text-color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b5cfd7;
}

button {
  width: 200px;
  height: 50px;
  margin: 10px 0;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #a6acaf;
}

.container {
  max-width: 50vw;
  max-height: 100vh;
  margin: -80px auto 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

/* .score-card {
  background-color: gray;
} */

.score-card {
  width: 100%; /* Ancho completo para que ocupe el contenedor */
  background-color: white; /* Color de fondo para la tarjeta de puntaje */
  padding: 15px; /* Espaciado interno */
  margin-bottom: 20px; /* Espacio entre la tarjeta de puntaje y el botón de reinicio */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
}

/* .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
} */

.container2 {
  display: flex; /* Usar flexbox para organizar los elementos en columnas */
  flex-direction: column; /* Alinear los elementos en una columna */
  justify-content: center; /* Centrar verticalmente los elementos */
  align-items: center; /* Centrar horizontalmente los elementos */
  background-color: #282846; /* Color de fondo */
  padding: 20px; /* Espaciado interno para que los elementos no estén pegados a los bordes */
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.usuario-logeado {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.horizontal-buttons-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button,
.top-buttons button,
.horizontal-buttons-container button,
.container2 .restart-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
.top-buttons button:hover,
.horizontal-buttons-container button:hover {
  background-color: #45a049;
}

.custom-h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* .tableroJuego {
  background-color: var(--secondary-color);
  width: 50vmin;
  height: 50vmin;
  display: grid;
  align-self: center;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  margin: -80px auto 0; 
} */

.tableroJuego {
  background-color: var(--secondary-color); /* Color de fondo del tablero */
  width: 40vmin; /* Ancho del tablero */
  height: 40vmin; /* Altura del tablero */
  display: grid; /* Usar grid para el tablero */
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  /* margin: -80px auto 0; */
  background-color: white;
}

.tableroJuego.blur {
  filter: blur(4px);
}

.mobile-controls {
  display: none;
  flex: 1;
}

.o-pad {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.o-pad a {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.game-over {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fed049;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.game-over h1 {
  font-size: 3em;
}

@media only screen and (max-width: 1025px) {
  .container,
  .score-card {
    flex-direction: column !important;
  }

  .mobile-controls {
    background-color: whitesmoke;
    margin-top: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
