<header *ngIf="isLoggedIn()">
  <div class="header-container">
    <div class="top-buttons">
      <button routerLink="/ahorcado">Ahorcado</button>
      <button routerLink="/mayormenor">Mayor o Menor</button>
      <button routerLink="/preguntados">Preguntados</button>
      <button routerLink="/juegopropio">Juego propio</button>
    </div>
    <div class="usuario-logeado" *ngIf="user">
      <p>Bienvenido, {{ user.name ? user.name : user.email }}!</p>
    </div>
  </div>
</header>

<div class="button-container">
  <div class="contenedor-cartas" *ngIf="isLoggedIn()">
    <div class="puntaje-cartas">puntaje: {{ puntos }}</div>

    <div class="carta">
      <p class="num-centro">{{ numeroInicialRandom }}</p>
      <p class="num-esquina esquina-arriba">{{ numeroInicialRandom }}</p>
      <p class="num-esquina esquina-abajo">{{ numeroInicialRandom }}</p>
    </div>
  </div>
  <div class="contenedor-boton-mayormenor" *ngIf="isLoggedIn()">
    <h1>La siguiente carta en salir sera:</h1>
    <button class="boton-mayor" (click)="botonMayor()">Mayor</button>
    <button class="boton-menor" (click)="botonMenor()">Menor</button>
  </div>
  <!-- <div *ngIf="!isLoggedIn()">
    <button routerLink="/login">Login</button>
    &nbsp;<br /><br />
    <button routerLink="/registro">Register</button>
  </div>
  <br /> -->

  <div id="logOut" *ngIf="isLoggedIn()" class="horizontal-buttons-container">
    <button routerLink="/quiensoy">Quien soy</button>
    <br />
    <button class="button-logOut" (click)="onClick()">Cerrar sesion</button>
    <br />
    <button (click)="moveToChat()">Chat</button>
  </div>
</div>
