.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b5cfd7;
}

button {
  width: 200px;
  height: 50px;
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #a6acaf;
}

.button-logOut {
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.top-buttons button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-buttons button:hover {
  background-color: #45a049;
}

.usuario-logeado {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.horizontal-buttons-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.horizontal-buttons-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.horizontal-buttons-container button:hover {
  background-color: #45a049;
}

.custom-h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.lineas {
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  letter-spacing: 4px; /* Espacio entre las líneas */
  margin: 20px 0; /* Margen superior e inferior */
}

.juegoAhorcado {
  text-align: center;
  margin: 20px;
}

.boton {
  font-size: 12px;
  padding: 13px 19px;
  margin: 3px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.boton:hover {
  background-color: #45a049;
}

/* Cambiamos el color del botón cuando ya fue seleccionado */
.seleccionado {
  background-color: grey; /* Cambia el color del botón a gris */
  cursor: not-allowed; /* Cambia el cursor a no permitido */
  color: white; /* Mantén el texto en blanco */
}

.fila {
  margin-bottom: 5px; /* Separación entre filas de botones */
  display: flex; /* Para alinear los botones en una fila */
  justify-content: center; /* Centrar los botones */
}

.letras {
  text-align: center; /* Centra el contenedor de letras */
}

.seleccionado {
  background-color: black; /* Cambia el color del botón a negro */
  cursor: not-allowed; /* Cambia el cursor a no permitido */
  color: white; /* Mantén el texto en blanco */
  background-color: #333;
}
